:root {
  --card-bg-color: white;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

html,
body {
  height: 100%;
  scrollbar-color: transparent;
}

body {
  background-color: #fafafa;
}

.container {
  max-width: 935px;
  width: 100%;
  padding: 0;
}

.container-top {
  padding-top: 100px;
}

.content-container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.footer {
  margin-bottom: 30px;
}

.footer a {
  text-decoration: none;
}

@media (max-width: 1000px) {
  .content-container {
    padding-top: 20px;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  :root {
    --card-bg-color: #fafafa;
  }
  .container-top {
    padding-top: 75px;
  }

  .content-container {
    padding-top: 0;
  }
}
