.posts {
  width: 614px;
}

.post-card {
  background-color: var(--card-bg-color);
  box-shadow: 0px 0px 2px #00000063;
  margin-bottom: 60px;
}

.post-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.post-image-wrapper {
  background-image: linear-gradient(to right, #f99949, #c62e90);
  height: 42px;
  width: 42px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin-right: 10px;
}

.post-image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  image-rendering: pixelated;
  border: 2px solid white;
}

.post-owner-wrapper {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.post-owner-name {
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-decoration: none !important;
}

.post-owner-location {
  font-size: 12px;
}

.post-content-wrapper {
  height: 100%;
}

.post-content {
  width: 100%;
  height: 100%;
}

.post-options-wrapper {
  height: 40px;
  background-color: var(--card-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.post-comments-wrapper {
  height: 100%;
  background-color: var(--card-bg-color);
  margin: 0 20px;
}

.post-likes {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 15px;
}

.view-all-comments {
  color: #999999;
  text-decoration: none !important;
}

.post-comment {
  font-size: 14px;
  margin-bottom: 5px;
}

.post-comment-author {
  font-weight: 700;
}

.post-created {
  color: #999999;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 5px;
}

.comment {
  min-height: 56px;
  height: 100%;
  border-top: 1px solid #9999992e;
  display: flex;
  align-items: center;
}

.add-comment {
  width: 100%;
  height: 30px;
  resize: none;
  overflow: hidden;
  outline: none !important;
  border: none;
  background-color: var(--card-bg-color);
}

.post-comment-btn {
  color: #3897f0;
  font-weight: 700;
  background: none;
  border: none;
  outline: none !important;
}
